<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green; color: white;">
        <h1>
            USUARIO PERFECTO!!  
        </h1>
        <h2><i>Bienvenido {{datos.nombre}}</i></h2>
        <br>
        <h3>Dirección: {{datos.direccion}} </h3>
        <h4>Visitas: {{contador}} </h4>
        <button class="btn btn-danger btn-sm my-5" onclick="location.href='/logout'">Cerrar</button>
    </div>
</div>